server {
  listen 80;
  server_name {{ domain_name }};
  root /var/www/{{ domain_name }}/html;

  location ~* \.(html)$ {
    add_header Cache-Control "no-store";
    expires    off;
  
    add_header Link "</fonts/Exo2-Bold-kern-ru.woff2>; rel=preload, </fonts/Exo2-Regular-kern-ru.woff2>; rel=preload, </fonts/Exo2-ExtraBold-kern-ru.woff2>; rel=preload;";
  }
  location ~* \.(ico|jpg|jpeg|png|gif|svg|js|jsx|css|less|swf|eot|ttf|otf|woff|woff2)$ {
    add_header Cache-Control "public";
    expires +1y;
  }

  location / {
    index index.html;
    try_files $uri $uri/ /index.html;
  }

  location /api {
    proxy_pass http://localhost:3000;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
  }
}